<!DOCTYPE html>
<html>
  <head>
    <title>FNN - Fake News Network</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>By <%= author %> on <%= date %></h3>
    <%= content %>
  </body>
</html>

